.modal-course-container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: grid;
  place-items: center;
  z-index: 200;
}

.modal-course-container * {
  color: var(--font-color);
}

.modal-course-card { 
  width: 70%;
  height: 70%;
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* MODAL HEADER */

.modal-course-header {
  display: flex;
  justify-content: space-between;
}

.modal-course-header h3 {
  font-size: 25px;
}

.modal-course-header button {
  background-color: transparent;
  font-size: 25px;
  padding: 0px 10px;
}

.modal-course-options {
  padding: 1%;
}

.modal-course-options span {
  border: 1px solid var(--font-color);
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  border-radius: 15px;
  margin: 20px 10px;
}

.modal-course-options span label {
  color: var(--font-color);
  width: 30px;
}

.modal-course-options span label svg {
  stroke: var(--font-color);
  stroke-width: 3px;
}

.modal-course-options span input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
}

.modal-course-body {
  height: 500px;
  overflow-y: auto;
  position: relative;
}

/* MODAL TABLE */

.modal-course-body table {
  width: 100%;
  border-collapse: collapse;
}

.modal-course-body table th {
  text-align: left;
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1)
}

.modal-course-body table td {
  padding: 10px;
}

.modal-course-header button:hover {
  transform: scale(1.1);
}
@media  (max-width: 767.98px)  { 
  .modal-optional-info {
    display: none;
  }
}