.home-page-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.home-page-header {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home-page-body {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem;
}

.home-page-header .welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page-header .hello-message {
  display: block;
  font-size: 36px;
}

.home-page-header .welcome-message h1{
  align-items: center;
  font-size: 36px;
  color: var(--destacable-message);
}

@media (max-height: 500px) OR (max-width: 1024px) {
  .hello-message {
    font-size: 28px;
  }
  .welcome-message h1{
    align-items: center;
    font-size: 32px;
    color: var(--destacable-message);
  }
  .home-page-body {
    padding-bottom: 6rem;
  }
}