
.theme-button-div button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  fill: var(--font-color);
  background-color: transparent;
  display: grid;
  place-items: center;
  cursor: pointer;
}


/* ?OPTIONAL ANIMATION
.theme-button-div:hover {
  transition: 1000ms;
  border-radius: 50%;
  transform: translateY(-5px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
} */
